/.phpunit.cache
/.phpunit.result.cache
/.idea
/.vs
/.venv
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
auth.json
npm-debug.log
yarn-error.log
*.log
*.zip
